my.css
* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box ;
}
html,body{
    height: 100%;
    width: 100%;
}/*colorname - white
 hexcode -#ffffff
 rgb - rgb(255,255,255)
 rba -rgb(255,255,255,1)
 */
body{
   /* background:linear-gradient(to right,#DA4453,#89216B);*/
   background: radial-gradient(#89216B,#00B4DB) ;
}
h1{
    color: yellow;
}
span{
    color: aqua;
}